<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">Một ứng dụng đơn giản phá triển bằng NodeJs</p>
  <hr class="my-4">
  <p>Một sản phẩm công nghệ của chúng tôi. Sử dụng để ghi chú
  </p>
  <a class="btn btn-primary btn-lg" href="http://wotech.vn" role="button">Wotech</a>
</div>
