<div class="col-md-4 mx-auto px-0">
  <div class="card">
    <div class="card-header text-center">
      <h3>New Note</h3>
    </div>
		<div class="card-body">
		  <form action="/notes/new-note" method="POST">
			<div class="form-group">
			  <input type="text" name="title" class="form-control" placeholder="Title" autofocus/>
			</div>
			<div class="form-group">
				<div class="ce-example">
					<div class="ce-example__content _ce-example__content--small">
						<div id="editornote"  name="description" style="padding-bottom: 200px;"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
			 <div class="input-group custom-search">
   <input id="tagadd" type="text" class="form-control custom-search-input" placeholder="Tag can them">
   <div id="tagbutton" class="btn btn-outline-primary custom-search-botton" type="botton">Thêm</div>  
 </div>
			</div>
			<div class="form-group">
			<div class="post" id="taglist">
			<ul class="tags">
        	<li>
				<a href="#">tag<span href="#">X</span></a>
			</li>
            <li><a href="#">tag name<span href="#">X</span></a></li>
        </ul> 
			</div>
			</div>
			<div class="form-group">
			  <button id="saveButton" class="btn btn-primary btn-block" type="submit" id="saveButton">
				Save
			  </button>
			</div>
			<div class="ce-example__output">
				  <pre class="ce-example__output-content" id="output"></pre>
				  <div class="ce-example__output-footer">
					<a href="http://wotech.vn" style="font-weight: bold;">Made by DangKhoi</a>
				  </div>
			</div>
		</form>
		</div>    
  </div>
</div>
<script>
	<!-- thêm code xử lí tag -->	
	var taglist = [];
		
    document.getElementById('tagbutton').addEventListener('click', function () {
		console.log(taglist);
		var tag = $('#tagadd').val();
		const refindTaglist = taglist.find(obj => {
				return obj.tag == tag
			});
		if(refindTaglist === undefined ) {
		$.ajax({
              type : 'POST', //Sử dụng kiểu gửi dữ liệu POST
              url : '/tags/create-tag', //gửi dữ liệu sang trang data.php
              data : {"tagadd": tag},//dữ liệu sẽ được gửi
              success : function(data)  // Hàm thực thi khi nhận dữ liệu được từ server
                        { 
                           if(data.status == 'already') 
                           {
                             console.log("Đã tồn tại trên server " +  data.content.tag);
                           }else{
								console.log('Tạo mới' + data);	
                           };
						   $('.tags').append('<li><a href="#">' + data.content.tag + '<span href="#">X</span></a></li>');
						   		console.log(taglist);
								console.log(data.content)
								taglist.push(data.content);
								console.log("them taglist");
								console.log(taglist);
                        }
              });
		}else{
				console.log('đã thêm ' + tag + ' khong them lai');	
            };
      });
  </script>
<script>
	<!-- Xử lí tag Khi nhập liệu -->
	const tagInput = document.getElementById('tagadd');
	tagInput.onkeydown = function(Event) {
    if (Event.keyCode == 32 ) {
      console.log('hihoha');
    }};
	tagInput.onkeydown = function(oaEvent) {
      console.log(oaEvent.keyCode);
   };
tagInput.addEventListener("keyup", event => {
    if(event.key !== "A") console.log("enterere"); // Use `.key` instead.
    console.log(event.key);
console.log(event.which);	// Things you want to do.
    event.preventDefault(); // No need to `return false;`.
});
tagInput.onkeypress=function(e){
    if(e.keyCode==66){
       console.log("cgfds");
    }
};
</script>
 <script>
 	const saveButton = document.getElementById('saveButton');
    var editor = new EditorJS({
		holderId: 'editornote',
		tools: tool,
		i18n: il8n,
		data: {},
		onReady: function(){
			editoronReady();
			//saveButton.click();
		},
      onChange: function() {
        console.log('something changed');
      }
	});
</script>
<script>
	<!-- thêm code gửi dữ liệu khi nhấn nút -->	 
    saveButton.addEventListener('click', function () {
      editor.save().then((savedData) => {
        cPreview.show(savedData, document.getElementById("output"));
		var title = $('input[name="title"]').val();
        $.ajax({
              type : 'POST', //Sử dụng kiểu gửi dữ liệu POST
              url : '/notes/new-note', //gửi dữ liệu sang trang data.php
              data : {"title": title, "description":JSON.stringify(savedData),"tag":taglist},//dữ liệu sẽ được gửi
              success : function(data)  // Hàm thực thi khi nhận dữ liệu được từ server
                        { 
                           if(data == 'false') 
                           {
                             alert('Không có người dùng');
                           }else{
                             window.location = "/notes";
							 console.log('Gửi thành công' + title);
                           }
                        }
              });
      });
    });
  </script>

