
<div translate="no" style="margin-top: -3rem;">
<div class="headerha">
  <div class="wrapper">
    <div class="c-monthyear">
    <div class="c-month">
        <span id="prev" class="prev fa fa-angle-left" aria-hidden="true"></span>
        <div id="c-paginator">
          <span class="c-paginator__month">NOVEMBER</span>
        </div>
        <span id="next" class="next fa fa-angle-right" aria-hidden="true"></span>
      </div>
      <span class="c-paginator__year">2017</span>
    </div>
    <div class="c-sort">
      <a class="o-btn c-today__btn" href="javascript:;">TODAY</a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="c-calendar">
      
  <div class="mobile-wrapper">
   <!--======= Header =======-->
   <header class="header">
      <div class="container">
         <span>Welcome Back!</span>
         <h1>Calendar Plan</h1>

         <div class="menu-toggle">
            <div>
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </header>
   <!--======= Today =======-->
   <section class="today-box" id="today-box">
      <span class="abreadcrumb">Today</span>
      <h3 class="date-title">May 15, 2018</h3>

      <div class="plus-icon">
         <i class="ion ion-ios-add"></i>
      </div>
   </section>
   <!--======= Upcoming Events =======-->
   <section class="upcoming-events">
      <div class="container">
         <h3>
            Lastest Events

         </h3>
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">11:00 am</h4>
               <span class="event__duration">in 30 minutes.</span>
               <p class="event__description">
                  Monday briefing with the team (...).
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame done"></i>
               <h4 class="event__point">12:00 pm</h4>
               <span class="event__duration">in 1 hour.</span>
               <p class="event__description">
                  Lunch with Paul Mccartney @Burgers House!
               </p>
            </div>
            <div class="event active">
               <i class="ion ion-ios-radio-button-on icon-in-active-mode"></i>
               <h4 class="event__point">14:00 pm</h4>
               <p class="event__description">
                  Meet clients from project.
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame-outline upcoming"></i>
               <h4 class="event__point">20:45 pm</h4>
               <span class="event__duration">in 45 minutes.</span>
               <p class="event__description">
                  Watch sci-fi series.
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame-outline upcoming"></i>
               <h4 class="event__point">23:15 pm</h4>
               <span class="event__duration">in 20 minutes.</span>
               <p class="event__description">
                  Customer dialog on Skype.
               </p>
            </div>
         </div>
         <button class="add-event-button">
            <span class="add-event-button__title"><a class="js-event__add" href="javascript:;">Add Event</a></span>

            <span class="add-event-button__icon">
               <i class="ion ion-ios-star-outline"></i>
            </span> 


         </button>
      </div>
   </section>
</div>
    <div class="c-cal__container c-calendar__style">
      <div class="c-main">
        <div class="c-cal__row">
          <div class="c-cal__col">Sun</div>
          <div class="c-cal__col">Mon</div>
<div class="c-cal__col">Tue</div>
<div class="c-cal__col">Wed</div>
<div class="c-cal__col">Thu</div>
<div class="c-cal__col">Fri</div>
<div class="c-cal__col">Sat</div>
</div>
<div class="c-cal__row"><div data-day="2017-01-01" class="c-cal__cel"><p>1</p></div>
<div data-day="2017-01-02" class="c-cal__cel"><p>2</p></div>
<div data-day="2017-01-03" class="c-cal__cel"><p>3</p></div>
<div data-day="2017-01-04" class="c-cal__cel"><p>4</p></div>
<div data-day="2017-01-05" class="c-cal__cel"><p>5</p></div>
<div data-day="2017-01-06" class="c-cal__cel"><p>6</p></div>
<div data-day="2017-01-07" class="c-cal__cel"><p>7</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-08" class="c-cal__cel"><p>8</p></div>
<div data-day="2017-01-09" class="c-cal__cel"><p>9</p></div>
<div data-day="2017-01-10" class="c-cal__cel"><p>10</p></div>
<div data-day="2017-01-11" class="c-cal__cel"><p>11</p></div>
<div data-day="2017-01-12" class="c-cal__cel"><p>12</p></div>
<div data-day="2017-01-13" class="c-cal__cel"><p>13</p></div>
<div data-day="2017-01-14" class="c-cal__cel"><p>14</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-15" class="c-cal__cel"><p>15</p></div>
<div data-day="2017-01-16" class="c-cal__cel"><p>16</p></div>
<div data-day="2017-01-17" class="c-cal__cel"><p>17</p></div>
<div data-day="2017-01-18" class="c-cal__cel"><p>18</p></div>
<div data-day="2017-01-19" class="c-cal__cel"><p>19</p></div>
<div data-day="2017-01-20" class="c-cal__cel"><p>20</p></div>
<div data-day="2017-01-21" class="c-cal__cel"><p>21</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-22" class="c-cal__cel"><p>22</p></div>
<div data-day="2017-01-23" class="c-cal__cel"><p>23</p></div>
<div data-day="2017-01-24" class="c-cal__cel"><p>24</p></div>
<div data-day="2017-01-25" class="c-cal__cel"><p>25</p></div>
<div data-day="2017-01-26" class="c-cal__cel"><p>26</p></div>
<div data-day="2017-01-27" class="c-cal__cel"><p>27</p></div>
<div data-day="2017-01-28" class="c-cal__cel"><p>28</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-29" class="c-cal__cel"><p>29</p></div>
<div data-day="2017-01-30" class="c-cal__cel"><p>30</p></div>
<div data-day="2017-01-31" class="c-cal__cel"><p>31</p></div></div></div>

    </div>
  </div>

  <div class="c-event__creator c-calendar__style js-event__creator">
    <a href="javascript:;" class="o-btn js-event__close">CLOSE <span class="fa fa-close"></span></a>
    <form id="addEvent">
      <input placeholder="Event name" type="text" name="name">
      <input type="date" name="date">
      <textarea placeholder="Notes" name="notes" cols="30" rows="10"></textarea>
      <select name="tags">
          <option value="event">event</option>
          <option value="important">important</option>
          <option value="birthday">birthday</option>
          <option value="festivity">festivity</option>
        </select>
    </form>
    <br>
    <a href="javascript:;" class="o-btn js-event__save">SAVE <span class="fa fa-save"></span></a>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.core.min.js"></script>

 <script>
   $.post( "/cal/month", {"month": "10.2020" })
            .done(function( data ) {
              alert( "thanh cong " + data );
            });
 </script>
</div>