
<div translate="no" style="margin-top: -3rem;">
<div class="headerha">
  <div class="wrapper">
    <div class="c-monthyear">
    <div class="c-month">
        <span id="prev" class="prev fa fa-angle-left" aria-hidden="true"></span>
        <div id="c-paginator">
          <span class="c-paginator__month" style="left: -1000%;">JANUARY</span>
          <span class="c-paginator__month" style="left: -900%;">FEBRUARY</span>
          <span class="c-paginator__month" style="left: -800%;">MARCH</span>
          <span class="c-paginator__month" style="left: -700%;">APRIL</span>
          <span class="c-paginator__month" style="left: -600%;">MAY</span>
          <span class="c-paginator__month" style="left: -500%;">JUNE</span>
          <span class="c-paginator__month" style="left: -400%;">JULY</span>
          <span class="c-paginator__month" style="left: -300%;">AUGUST</span>
          <span class="c-paginator__month" style="left: -200%;">SEPTEMBER</span>
          <span class="c-paginator__month" style="left: -100%;">OCTOBER</span>
          <span class="c-paginator__month" style="left: 0%;">NOVEMBER</span>
          <span class="c-paginator__month" style="left: 100%;">DECEMBER</span>
        </div>
        <span id="next" class="next fa fa-angle-right" aria-hidden="true"></span>
      </div>
      <span class="c-paginator__year">2017</span>
    </div>
    <div class="c-sort">
      <a class="o-btn c-today__btn" href="javascript:;">TODAY</a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="c-calendar">
      
  <div class="mobile-wrapper">

   <!--======= Header =======-->

   <header class="header">
      <div class="container">
         <span>Welcome Back!</span>
         <h1>Calendar Plan</h1>

         <div class="menu-toggle">
            <div>
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </header>

   <!--======= Today =======-->

   <section class="today-box" id="today-box">
      <span class="breadcrumb">Today</span>
      <h3 class="date-title">May 15, 2018</h3>

      <div class="plus-icon">
         <i class="ion ion-ios-add"></i>
      </div>
   </section>

   <!--======= Upcoming Events =======-->

   <section class="upcoming-events">
      <div class="container">
         <h3>
            Lastest Events

         </h3>
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">11:00 am</h4>
               <span class="event__duration">in 30 minutes.</span>
               <p class="event__description">
                  Monday briefing with the team (...).
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame done"></i>
               <h4 class="event__point">12:00 pm</h4>
               <span class="event__duration">in 1 hour.</span>
               <p class="event__description">
                  Lunch with Paul Mccartney @Burgers House!
               </p>
            </div>
            <div class="event active">
               <i class="ion ion-ios-radio-button-on icon-in-active-mode"></i>
               <h4 class="event__point">14:00 pm</h4>
               <p class="event__description">
                  Meet clients from project.
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame-outline upcoming"></i>
               <h4 class="event__point">20:45 pm</h4>
               <span class="event__duration">in 45 minutes.</span>
               <p class="event__description">
                  Watch sci-fi series.
               </p>
            </div>
            <div class="event">
               <i class="ion ion-ios-flame-outline upcoming"></i>
               <h4 class="event__point">23:15 pm</h4>
               <span class="event__duration">in 20 minutes.</span>
               <p class="event__description">
                  Customer dialog on Skype.
               </p>
            </div>
         </div>
         <button class="add-event-button">
            <span class="add-event-button__title"><a class="js-event__add" href="javascript:;">Add Event</a></span>

            <span class="add-event-button__icon">
               <i class="ion ion-ios-star-outline"></i>
            </span> 


         </button>
      </div>
   </section>
</div>
    <div class="c-cal__container c-calendar__style">
      <div class="c-main c-main-10" style="left: -1000%;">
        <div class="c-cal__row">
          <div class="c-cal__col">Sun</div>
          <div class="c-cal__col">Mon</div>
<div class="c-cal__col">Tue</div>
<div class="c-cal__col">Wed</div>
<div class="c-cal__col">Thu</div>
<div class="c-cal__col">Fri</div>
<div class="c-cal__col">Sat</div>
</div>
<div class="c-cal__row"><div data-day="2017-01-01" class="c-cal__cel"><p>1</p></div>
<div data-day="2017-01-02" class="c-cal__cel"><p>2</p></div>
<div data-day="2017-01-03" class="c-cal__cel"><p>3</p></div>
<div data-day="2017-01-04" class="c-cal__cel"><p>4</p></div>
<div data-day="2017-01-05" class="c-cal__cel"><p>5</p></div>
<div data-day="2017-01-06" class="c-cal__cel"><p>6</p></div>
<div data-day="2017-01-07" class="c-cal__cel"><p>7</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-08" class="c-cal__cel"><p>8</p></div>
<div data-day="2017-01-09" class="c-cal__cel"><p>9</p></div>
<div data-day="2017-01-10" class="c-cal__cel"><p>10</p></div>
<div data-day="2017-01-11" class="c-cal__cel"><p>11</p></div>
<div data-day="2017-01-12" class="c-cal__cel"><p>12</p></div>
<div data-day="2017-01-13" class="c-cal__cel"><p>13</p></div>
<div data-day="2017-01-14" class="c-cal__cel"><p>14</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-15" class="c-cal__cel"><p>15</p></div>
<div data-day="2017-01-16" class="c-cal__cel"><p>16</p></div>
<div data-day="2017-01-17" class="c-cal__cel"><p>17</p></div>
<div data-day="2017-01-18" class="c-cal__cel"><p>18</p></div>
<div data-day="2017-01-19" class="c-cal__cel"><p>19</p></div>
<div data-day="2017-01-20" class="c-cal__cel"><p>20</p></div>
<div data-day="2017-01-21" class="c-cal__cel"><p>21</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-22" class="c-cal__cel"><p>22</p></div>
<div data-day="2017-01-23" class="c-cal__cel"><p>23</p></div>
<div data-day="2017-01-24" class="c-cal__cel"><p>24</p></div>
<div data-day="2017-01-25" class="c-cal__cel"><p>25</p></div>
<div data-day="2017-01-26" class="c-cal__cel"><p>26</p></div>
<div data-day="2017-01-27" class="c-cal__cel"><p>27</p></div>
<div data-day="2017-01-28" class="c-cal__cel"><p>28</p></div></div>
<div class="c-cal__row"><div data-day="2017-01-29" class="c-cal__cel"><p>29</p></div>
<div data-day="2017-01-30" class="c-cal__cel"><p>30</p></div>
<div data-day="2017-01-31" class="c-cal__cel"><p>31</p></div></div></div>
<div class="c-main c-main-02" style="left: -900%;">
  <div class="c-cal__row"><div class="c-cal__col">Sun</div>
<div class="c-cal__col">Mon</div>
<div class="c-cal__col">Tue</div>
<div class="c-cal__col">Wed</div>
<div class="c-cal__col">Thu</div>
<div class="c-cal__col">Fri</div>
<div class="c-cal__col">Sat</div></div>
<div class="c-cal__row"><div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div data-day="2017-02-01" class="c-cal__cel"><p>1</p></div>
<div data-day="2017-02-02" class="c-cal__cel"><p>2</p></div>
<div data-day="2017-02-03" class="c-cal__cel"><p>3</p></div>
<div data-day="2017-02-04" class="c-cal__cel"><p>4</p></div></div>
<div class="c-cal__row"><div data-day="2017-02-05" class="c-cal__cel"><p>5</p></div>
<div data-day="2017-02-06" class="c-cal__cel"><p>6</p></div>
<div data-day="2017-02-07" class="c-cal__cel"><p>7</p></div>
<div data-day="2017-02-08" class="c-cal__cel"><p>8</p></div>
<div data-day="2017-02-09" class="c-cal__cel"><p>9</p></div>
<div data-day="2017-02-10" class="c-cal__cel"><p>10</p></div>
<div data-day="2017-02-11" class="c-cal__cel"><p>11</p></div></div>
<div class="c-cal__row"><div data-day="2017-02-12" class="c-cal__cel"><p>12</p></div>
<div data-day="2017-02-13" class="c-cal__cel"><p>13</p></div>
<div data-day="2017-02-14" class="c-cal__cel"><p>14</p></div>
<div data-day="2017-02-15" class="c-cal__cel"><p>15</p></div>
<div data-day="2017-02-16" class="c-cal__cel"><p>16</p></div>
<div data-day="2017-02-17" class="c-cal__cel"><p>17</p></div>
<div data-day="2017-02-18" class="c-cal__cel"><p>18</p></div></div>
<div class="c-cal__row"><div data-day="2017-02-19" class="c-cal__cel"><p>19</p></div>
<div data-day="2017-02-20" class="c-cal__cel"><p>20</p></div>
<div data-day="2017-02-21" class="c-cal__cel"><p>21</p></div>
<div data-day="2017-02-22" class="c-cal__cel"><p>22</p></div>
<div data-day="2017-02-23" class="c-cal__cel"><p>23</p></div>
<div data-day="2017-02-24" class="c-cal__cel"><p>24</p></div>
<div data-day="2017-02-25" class="c-cal__cel"><p>25</p></div></div>
<div class="c-cal__row"><div data-day="2017-02-26" class="c-cal__cel"><p>26</p></div>
<div data-day="2017-02-27" class="c-cal__cel"><p>27</p></div>
<div data-day="2017-02-28" class="c-cal__cel"><p>28</p></div></div></div>
<div class="c-main c-main-12" style="left: 100.002%;"><div class="c-cal__row"><div class="c-cal__col">Sun</div>
<div class="c-cal__col">Mon</div>
<div class="c-cal__col">Tue</div>
<div class="c-cal__col">Wed</div>
<div class="c-cal__col">Thu</div>
<div class="c-cal__col">Fri</div>
<div class="c-cal__col">Sat</div></div>
<div class="c-cal__row"><div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div class="c-cal__cel"></div>
<div data-day="2017-12-01" class="c-cal__cel"><p>1</p></div>
<div data-day="2017-12-02" class="c-cal__cel"><p>2</p></div></div>
<div class="c-cal__row"><div data-day="2017-12-03" class="c-cal__cel"><p>3</p></div>
<div data-day="2017-12-04" class="c-cal__cel"><p>4</p></div>
<div data-day="2017-12-05" class="c-cal__cel"><p>5</p></div>
<div data-day="2017-12-06" class="c-cal__cel"><p>6</p></div>
<div data-day="2017-12-07" class="c-cal__cel"><p>7</p></div>
<div data-day="2017-12-08" class="c-cal__cel"><p>8</p></div>
<div data-day="2017-12-09" class="c-cal__cel"><p>9</p></div></div>
<div class="c-cal__row"><div data-day="2017-12-10" class="c-cal__cel"><p>10</p></div>
<div data-day="2017-12-11" class="c-cal__cel"><p>11</p></div>
<div data-day="2017-12-12" class="c-cal__cel"><p>12</p></div>
<div data-day="2017-12-13" class="c-cal__cel"><p>13</p></div>
<div data-day="2017-12-14" class="c-cal__cel"><p>14</p></div>
<div data-day="2017-12-15" class="c-cal__cel"><p>15</p></div>
<div data-day="2017-12-16" class="c-cal__cel"><p>16</p></div></div>
<div class="c-cal__row"><div data-day="2017-12-17" class="c-cal__cel"><p>17</p></div>
<div data-day="2017-12-18" class="c-cal__cel"><p>18</p></div>
<div data-day="2017-12-19" class="c-cal__cel"><p>19</p></div>
<div data-day="2017-12-20" class="c-cal__cel"><p>20</p></div>
<div data-day="2017-12-21" class="c-cal__cel"><p>21</p></div>
<div data-day="2017-12-22" class="c-cal__cel"><p>22</p></div>
<div data-day="2017-12-23" class="c-cal__cel"><p>23</p></div></div>
<div class="c-cal__row"><div data-day="2017-12-24" class="c-cal__cel"><p>24</p></div>
<div data-day="2017-12-25" class="c-cal__cel event event--festivity" data-name="MERRY CHRISTMAS" data-notes="A lot of gift!!!!"><p>25</p></div>
<div data-day="2017-12-26" class="c-cal__cel"><p>26</p></div>
<div data-day="2017-12-27" class="c-cal__cel"><p>27</p></div>
<div data-day="2017-12-28" class="c-cal__cel"><p>28</p></div>
<div data-day="2017-12-29" class="c-cal__cel"><p>29</p></div>
<div data-day="2017-12-30" class="c-cal__cel"><p>30</p></div></div>
<div class="c-cal__row"><div data-day="2017-12-31" class="c-cal__cel"><p>31</p></div></div></div>
    </div>
  </div>

  <div class="c-event__creator c-calendar__style js-event__creator">
    <a href="javascript:;" class="o-btn js-event__close">CLOSE <span class="fa fa-close"></span></a>
    <form id="addEvent">
      <input placeholder="Event name" type="text" name="name">
      <input type="date" name="date">
      <textarea placeholder="Notes" name="notes" cols="30" rows="10"></textarea>
      <select name="tags">
          <option value="event">event</option>
          <option value="important">important</option>
          <option value="birthday">birthday</option>
          <option value="festivity">festivity</option>
        </select>
    </form>
    <br>
    <a href="javascript:;" class="o-btn js-event__save">SAVE <span class="fa fa-save"></span></a>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.core.min.js"></script>
  
      <script id="rendered-js">
//global variables
var monthEl = $(".c-main");
var dataCel = $(".c-cal__cel");
var dateObj = new Date();
var month = dateObj.getUTCMonth() + 1;
var day = dateObj.getUTCDate();
var year = dateObj.getUTCFullYear();
var monthText = ["January","February","March","April","May","June","July","August","September","October","November","December"];

var indexMonth = month;
var todayBtn = $(".c-today__btn");
var addBtn = $(".js-event__add");
var saveBtn = $(".js-event__save");
var closeBtn = $(".js-event__close");
var winCreator = $(".js-event__creator");
var inputDate = $(this).data();
today = year + "-" + month + "-" + day;
console.log(today);

// ------ set default events -------
function defaultEvents(dataDay, dataName, dataNotes, classTag) {
  var date = $('*[data-day=' + dataDay + ']');
  date.attr("data-name", dataName);
  date.attr("data-notes", dataNotes);
  date.addClass("event");
  date.addClass("event--" + classTag);
}

defaultEvents(today, 'YEAH!', 'Today is your day', 'important');
defaultEvents('2017-12-25', 'MERRY CHRISTMAS', 'A lot of gift!!!!', 'festivity');
defaultEvents('2017-05-04', "LUCA'S BIRTHDAY", 'Another gifts...?', 'birthday');
defaultEvents('2017-03-03', "MY LADY'S BIRTHDAY", 'A lot of money to spent!!!!', 'birthday');


// ------ functions control -------

//button of the current day
todayBtn.on("click", function () {
  if (month < indexMonth) {
    var step = indexMonth % month;
    movePrev(step, true);
  } else if (month > indexMonth) {
    var step = month - indexMonth;
    moveNext(step, true);
  }
});

//higlight the cel of current day
dataCel.each(function () {
  if ($(this).data("day") === today) {
    $(this).addClass("isToday");
    fillEventSidebar($(this));
  }
});

//window event creator
addBtn.on("click", function () {
  winCreator.addClass("isVisible");
  $("body").addClass("overlay");
  dataCel.each(function () {
    if ($(this).hasClass("isSelected")) {
      today = $(this).data("day");
      document.querySelector('input[type="date"]').value = today;
    } else {
      document.querySelector('input[type="date"]').value = today;
    }
  });
});
closeBtn.on("click", function () {
  winCreator.removeClass("isVisible");
  $("body").removeClass("overlay");
});
saveBtn.on("click", function () {
  var inputName = $("input[name=name]").val();
  var inputDate = $("input[name=date]").val();
  var inputNotes = $("textarea[name=notes]").val();
  var inputTag = $("select[name=tags]").
  find(":selected").
  text();

  dataCel.each(function () {
    if ($(this).data("day") === inputDate) {
      if (inputName != null) {
        $(this).attr("data-name", inputName);
      }
      if (inputNotes != null) {
        $(this).attr("data-notes", inputNotes);
      }
      $(this).addClass("event");
      if (inputTag != null) {
        $(this).addClass("event--" + inputTag);
      }
      fillEventSidebar($(this));
    }
  });

  winCreator.removeClass("isVisible");
  $("body").removeClass("overlay");
  $("#addEvent")[0].reset();
});

//fill sidebar event info
function fillEventSidebar(self) {
  $(".c-aside__event").remove();
  var thisName = self.attr("data-name");
  var thisNotes = self.attr("data-notes");
  var thisImportant = self.hasClass("event--important");
  var thisBirthday = self.hasClass("event--birthday");
  var thisFestivity = self.hasClass("event--festivity");
  var thisEvent = self.hasClass("event");

  switch (true) {
    case thisImportant:
      $(".c-aside__eventList").append(
      "<p class='c-aside__event c-aside__event--important'>" +
      thisName +
      " <span> • " +
      thisNotes +
      "</span></p>");

      break;
    case thisBirthday:
      $(".c-aside__eventList").append(
      "<p class='c-aside__event c-aside__event--birthday'>" +
      thisName +
      " <span> • " +
      thisNotes +
      "</span></p>");

      break;
    case thisFestivity:
      $(".c-aside__eventList").append(
      "<p class='c-aside__event c-aside__event--festivity'>" +
      thisName +
      " <span> • " +
      thisNotes +
      "</span></p>");

      break;
    case thisEvent:
      $(".c-aside__eventList").append(
      "<p class='c-aside__event'>" +
      thisName +
      " <span> • " +
      thisNotes +
      "</span></p>");

      break;}

};
dataCel.on("click", function () {
  var thisEl = $(this);
  var thisDay = $(this).
  attr("data-day").
  slice(8);
  var thisMonth = $(this).
  attr("data-day").
  slice(5, 7);

  fillEventSidebar($(this));

  $(".c-aside__num").text(thisDay);
  $(".c-aside__month").text(monthText[thisMonth - 1]);

  dataCel.removeClass("isSelected");
  thisEl.addClass("isSelected");

});

//function for move the months
function moveNext(fakeClick, indexNext) {
  for (var i = 0; i < fakeClick; i++) {
    $(".c-main").css({
      left: "-=100%" });

    $(".c-paginator__month").css({
      left: "-=100%" });

    switch (true) {
      case indexNext:
        indexMonth += 1;
        break;}

  };
}
function movePrev(fakeClick, indexPrev) {
  for (var i = 0; i < fakeClick; i++) {
    $(".c-main").css({
      left: "+=100%" });

    $(".c-paginator__month").css({
      left: "+=100%" });

    switch (true) {
      case indexPrev:
        indexMonth -= 1;
        break;}

  };
}

//months paginator
function buttonsPaginator(buttonId, mainClass, monthClass, next, prev) {
  switch (true) {
    case next:
      $(buttonId).on("click", function () {
        if (indexMonth >= 2) {
          $(mainClass).css({
            left: "+=100%" });

          $(monthClass).css({
            left: "+=100%" });

          indexMonth -= 1;
        }
        return indexMonth;
      });
      break;
    case prev:
      $(buttonId).on("click", function () {
        if (indexMonth <= 11) {
          $(mainClass).css({
            left: "-=100%" });

          $(monthClass).css({
            left: "-=100%" });

          indexMonth += 1;
        }
        return indexMonth;
      });
      break;}

}

buttonsPaginator("#next", monthEl, ".c-paginator__month", false, true);
buttonsPaginator("#prev", monthEl, ".c-paginator__month", true, false);

//launch function to set the current month
moveNext(indexMonth - 1, false);

//fill the sidebar with current day
$(".c-aside__num").text(day);
$(".c-aside__month").text(monthText[month - 1]);
//# sourceURL=pen.js
    </script>
 
</div>