
   
<div translate="no" style="margin-top: -3rem;">


<div class="container wrapper">


  <div class="col-sm-12 col-md-12 col-xs-12 headerha">
  <div class="row wrapper">
    <div class="col-xs-12 col-md-6 c-monthyear">
    <div class="c-month">
       NOVEMBER-2017
    </div>
  </div>
    <div class=" col-xs-12 col-md-6 c-sort" style=" display: flex;align-items: center;">
    <input class="form-control dateinput" type="date" id="birthday">
    <button class="btn btn-info o-btn c-today__btn" id="sendate" style="padding: 7px;">Check</button>
  </div>
  </div>
</div>


  <div class="row c-calendar">

     <div class="col-sm-5 col-md-5 col-xs-12">
  <div class="mobile-wrapper">
   <!--======= Header =======-->
   <header class="header">
      <div class="container">
         <div class="menu-toggle">
            <div>
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </header>
   <!--======= Today =======-->
   <section class="today-box" id="today-box">
      <span class="abreadcrumb">Ngày</span>
      <h3 class="date-title"></h3>
   </section>
   <!--======= Upcoming Events =======-->
   <section class="upcoming-events">
      <div class="container">
         <h3>
            Danh sách
         </h3>
         <div class="events-wrapper">
            
         </div>
         <button class="add-event-button">
            <span class="add-event-button__title"><a class="js-event__add" href="/notes/add">Thêm sự kiện hôm nay</a></span>

            <span class="add-event-button__icon">
               <i class="ion ion-ios-star-outline"></i>
            </span> 


         </button>
      </div>
   </section>
</div>
</div>
<div class="col-sm-7 col-md-7 col-xs-12">
    <div class="c-cal__container c-calendar__style">
      <div class="c-main">
      </div>
</div>
</div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.core.min.js"></script>
<script>
  $('#sendate').on('click', function() {
    if(moment($('#birthday').val(), 'YYYY-MM-DD',true).isValid()){
      var stringday = moment($('#birthday').val()).format('MM/DD/YYYY');
      getDataDate(stringday);
    }else{
      alert("Vui lòng chọn ngày")
    };
  });
  $(document).on('click','.c-cal__cel', function() {
    //console.log($(this));
    //console.log($(this).data('day'));
  //console.log(moment($(this).data('day')));
  //console.log(moment($(this).data('day')).format('MM-DD-YYYY'));
    //$('#birthday').val().split("-");
    var stringday = $(this).data('day').replaceAll("-","/");
    //console.log(stringday);
    getDataDate(stringday);
  });
  var stringday = moment().format('MM/DD/YYYY');
  getDataDate(stringday);
  function getDataDate(date){
    $.post("/cal/month", {"date": date})
            .done(function( eventData ) {
              //console.log(eventData);
                // Xử lý dữ liệu render
                // thêm thứ vào trong lịch
            var startHtml = '<div class="c-cal__row"' + '><div class="c-cal__col">CN</div><div class="c-cal__col">Hai</div><div class="c-cal__col">Ba</div><div class="c-cal__col">Tư</div><div class="c-cal__col">Năm</div><div class="c-cal__col">Sáu</div><div class="c-cal__col">Bẩy</div></div><div class="c-cal__row">';

            // xử lí ngà đầu không đúng thứ
            //console.log((new Date(eventData[0].Day)).getDay());
            var noDay = '<div data-day="" class="c-cal__cel"></div>';
            var i = 0;
             for(var i = 0; i < ((new Date(eventData[0].Day)).getDay());i++) {
                startHtml = startHtml + noDay;
              };

            //thực hiện chia tháng thành các tuần sau đó chia tuần thành các ngày riêng biệt trong tháng
              for(var i=0;i < eventData.length;i++){
                //console.log(i);
                if( (new Date(eventData[i].Day).getDay()) % 7 == 0 ){
                  startHtml = startHtml + '</div><div class="c-cal__row"><div  class="c-cal__cel" data-day="' + eventData[i].Day.replaceAll("/","-") +'"><p>'+ (new Date(eventData[i].Day).getDate()) + '</p><span>' + eventData[i].toEvent + '</span></div>'
                } else {
                 //console.log(eventData[i]);
                  startHtml = startHtml + '<div class="c-cal__cel" data-day="' + eventData[i].Day.replaceAll("/","-") +'"><p>'+ (new Date(eventData[i].Day).getDate()) + '</p><span>' + eventData[i].toEvent + '</span></div>'
                };
                
            };

            //xử lí cuối mảng
            var endMonth = new Date(eventData[eventData.length - 1].Day);
             for(var i = 0; i < (6 - endMonth.getDay()); i++){
                startHtml = startHtml + noDay;
              };
             $('div.c-main').html(startHtml);

            //xử lí sự kiện
            function showEvent(stringdate){
            var d = new Date(stringdate);
             $('.c-month').html(moment(d).format('ddd DD MMMM YYYY').toUpperCase());
            $('h3.date-title').html(moment(d).format('ddd DD/MM/YYYY'));
         
            const found = eventData.find(element => element.Day == stringdate);
            var htmlEvent = "";
            if(found){
            $('.header div.container').html('<span>Bảng Ghi chú !</span><h1>Có ' + found.toEvent + ' ghi chú</h1>');
              found.Event.forEach(function(item, index){
                  htmlEvent = htmlEvent + '<div class="event"><i class="ion ion-ios-flame hot"></i><h4 class="event__point">'+ item.createdAt + '</h4><p class="event__description"><a href="/notes/edit/'+ item._id +'">'+ item.title +'</a></p></div>';
              })}else{
                $('.header div.container').html('<span>Bảng Ghi chú !</span><h1>Không có ghi chú</h1>');
              };
            
            $('div.events-wrapper').html(htmlEvent);
          };
            showEvent(date);
            });
  };
  
</script>

</div>