<style type="text/css">
#dataup{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px solid #fff;
  background: #969a9a;
}
#dataup p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
#dataup input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
#dataup button{
  width: 100%;
  height: 40px;
}
#dataup button:active{
  border:0;
}

</style>

<script type="text/javascript">
	$(document).ready(function(){
  $('form input').change(function () {
    $('form p').text(this.files.length + " file(s) selected");
  });
});
</script>

<form id="dataup" enctype="multipart/form-data" action="/data/imupload.php" method="POST">
  <input type="file" id="cuFile" name="file">
  <p>Drag your files here or click in this area.</p>
  <button type="submit" class="btn btn-primary btn-block btn-sm">Upload</button>
</form>